<div class="header">
    <div class="topnav">
        <div class="navlogo">
            <img  src="MySchool.png" 
            alt="logo"  height="65" 
            style="float:left;padding-right:2em;padding-top:6px;">
        </div>
    
        <a href="/home">HOME</a>
        <a href="#">PARTICIPATION</a>
        <a href="#">MyEVENT</a>
        <a href="#">VOLUNTEER</a>
        <a class="active">PROFILE</a>
        <a href="#">LOG-OUT</a>
      </div>
</div>

<div class="biodata">
    <div class="row">
        <div class="column left">
            <img src="avatar1.png" alt="logo"  height="70%" style="padding-left:110px;padding-top:60px;">
        </div>
        <div class="column right">
          <h1> Nur Farah binti Shahir</h1>
          <table id="users">
            <tr>
              <td>Student ID</td>
              <td style="text-align:right;">1171303197</td>
            </tr>
            <tr>
              <td>Email</td>
              <td style="text-align:right;">hazwanmsalleh@gmail.com</td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td style="text-align:right;">+601132040538</td>
            </tr>
            <tr>
              <td>Address</td>
              <td style="text-align:right;">No. 28, Jalan Ampang Hilir, 
                <br>Taman Angsana Hilir, 
                <br>55100 Kuala Lumpur</td>
            </tr>
            <tr>
              <td>School</td>
              <td style="text-align:right;">SMK Aminuddin Baki</td>
            </tr>
            <tr>
              <td>Class</td>
              <td style="text-align:right;">5 Amanah</td>
            </tr>
            <tr>
          </table>
          
        </div>
      </div>

</div>