<div class="header">
  <div class="topnav">
    <div class="navlogo">
      <img
        src="/public/MySchool.png"
        alt="logo"
        height="65"
        style="float: left; padding-right: 2em; padding-top: 6px"
      />
    </div>

    <form id="myform" action="/user/logout" method="POST">
      <a
        href="#"
        onclick="document.getElementById('myform').submit()"
        style="float: right"
        >LOG-OUT</a
      >
    </form>

    <noscript>
      <input type="submit" value="Submit form!" />
    </noscript>
    <a href="/profile" style="float: right">PROFILE</a>
    <a href="/volunteer" style="float: right">VOLUNTEER</a>
    <a class="active" style="float: right">MyEVENT</a>
    <a href="/participation" style="float: right">PARTICIPATION</a>
    <a href="/home" style="float: right">HOME</a>
  </div>
</div>
<div class="homevent">
  English Language Day
  <hr />
  Add Task
  <button
    class="whitebutton"
    onclick="location.href='/volunteer/managetask';"
    style="float: right; width: 8em"
  >
    Back
  </button>
</div>

<div class="taskstyle">
  <form>
    <label for="task" style="text-align: left">New Task</label><br />
    <input
      type="text"
      placeholder="Enter Task"
      id="name"
      name="name"
      style="width: 30%"
    />
    <br />
    <button
      class="bluebutton"
      type="submit"
      style="margin-top: 3em; width: 10%"
    >
      Submit
    </button>
  </form>

  <button
    class="whitebutton"
    onclick="location.href='/volunteer/managetask';"
    style="margin-top: 1em; width: 6%"
  >
    Cancel
  </button>
</div>

<footer class="brownFooter">
  © Copyright 2020 MySchool system | Designed by MMU
</footer>
