<div class="header">
    <div class="topnav">
        <div class="navlogo">
            <img  src="MySchool.png" 
            alt="logo"  height="65" 
            style="float:left;padding-right:2em;padding-top:6px;">
        </div>
    
        <a href="/home">HOME</a>
        <a href="/participation">PARTICIPATION</a>
        <a href="/myevent">MyEVENT</a>
        <a class="active">VOLUNTEER</a>
        <a href="/profile">PROFILE</a>
        <a href="#">LOG-OUT</a>
      </div>
</div>
<div class ="homevent">
    Event you Volunteered
    <hr>
    Today date - 
</div>
<div class="volunteerbox">
    <div class="row3">
        <div class="column3 left3"style="text-align: center;" >
          <h3>Science Day</h3>
          <img src="science2.jpg" alt="science poster" width="400" >
        </div>
        <div class="column3 right3" style="text-align: left;font-size:large;padding:2em;">
            <div>
                Date - (22/10/2021) 
                <br>
                Time - 1.30 pm- 5.00 pm
                <br>
                Science Lab
            </div>
          <div> 
            <br>
            Task
            <br>
            1. Facility Management
            <br>
            2. Experiment Management
          </div>
          <div> 
            <br>
            Benefit
            <br>
            1. Free food and beverages.
            <br>
            2. Merit Point
            <button class="bluebutton" onclick="location.href='';"
                style="font-size:medium;float:right;margin-right:2em;width:15em;" >
                  DETAILS</button>
          </div>
        </div>
      </div>
</div>

<div class ="homevent">
    BE A VOLUNTEER!!
    <hr>
</div>
<div class="volunteerbox" style="margin-bottom: 5em;">
    <div class="row3">
        <div class="column3 left3" style="text-align: center;">
          <h3>Futsal Tournament</h3>
          <img src="futsal1.jpg" alt="science poster" width="400" >
        </div>
        <div class="column3 right3" style="text-align: left;font-size:large;padding:2em;">
            <div>
                Date - (5/12/2021) 
                <h2 style="float:right;margin-right:1em;">6 Volunteer needed</h2>
                <br> Time - 4.00 pm- 7.00 pm <br> Futsal Arena
            </div>
          <div> 
            <br>
            Task
            <br>
            1. Facility Management
            <br>
            2. Experiment Management
          </div>
          <div> 
            <br>
            Benefit
            <br>
            1. Free food and beverages.
            <br>
            2. Merit Point
            <button class="bluebutton" onclick="location.href='';"
                style="font-size:medium;float:right;margin-right:2em;width:15em;border-radius: 15px;" >
                  VOLUNTEER</button>
          </div>
        </div>
      </div>
</div>
<div class="volunteerbox" style="margin-bottom: 5em;">
    <div class="row3">
        <div class="column3 left3" style="text-align: center;">
          <h3>English Language Day</h3>
          <img src="eng1.jpg" alt="science poster" width="400" >
        </div>
        <div class="column3 right3" style="text-align: left;font-size:large;padding:2em;">
            <div>
                Date - (5/12/2021) 
                <h2 style="float:right;margin-right:1em;">3 Volunteer needed</h2>
                <br> Time - 4.00 pm- 7.00 pm <br> Futsal Arena
            </div>
          <div> 
            <br>
            Task
            <br>
            1. Facility Management
            <br>
            2. Experiment Management
          </div>
          <div> 
            <br>
            Benefit
            <br>
            1. Free food and beverages.
            <br>
            2. Merit Point
            <button class="bluebutton" onclick="location.href='';"
                style="font-size:medium;float:right;margin-right:2em;width:15em;border-radius: 15px;" >
                  VOLUNTEER</button>
          </div>
        </div>
      </div>
</div>

<div style="margin:10em;">
<br>
</div>

<footer class="brownFooter">
    © Copyright 2020 MySchool system | Designed by MMU
</footer>