<div class="header">
    <div class="topnav">
        <div class="navlogo">
            <img  src="MySchool.png" 
            alt="logo"  height="65" 
            style="float:left;padding-right:2em;padding-top:6px;">
        </div>
    
        <a href="/home">HOME</a>
        <a href="/participation">PARTICIPATION</a>
        <a href="/myevent">MyEVENT</a>
        <a class="active">VOLUNTEER</a>
        <a href="/profile">PROFILE</a>
        <a href="#">LOG-OUT</a>
      </div>
</div>
<div class ="homevent">
    Event you Volunteered
    <hr>
    Today date - 
    <script>
      var curday = function(sp){
      today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //As January is 0.
      var yyyy = today.getFullYear();
      
      if(dd<10) dd='0'+dd;
      if(mm<10) mm='0'+mm;
      return (dd+sp+mm+sp+yyyy);
      };
     
      document.write(curday('/'));
    </script>
</div>
<div class="volunteerbox">
    <div class="row3">
        <div class="column3 left3"style="text-align: center;" >
          <h4>Science Day</h4>
          <img src="science2.jpg" alt="science poster" width="350" >
        </div>
        <div class="column3 right3" style="text-align: left;font-size:large;padding:2em;">
            <div>
                Date - (22/10/2021) 
                <br>
                Time - 1.30 pm- 5.00 pm
                <br>
                Science Lab
            </div>
          <div> 
            <br>
            Task
            <br>
            1. Facility Management
            <br>
            2. Experiment Management
          </div>
          <div> 
            
            <button class="bluebutton" onclick="location.href='';"
                style="font-size:medium;float:right;margin-right:2em;width:15em;" >
                  DETAILS</button>
          </div>
        </div>
      </div>
</div>

<div class ="homevent">
    BE A VOLUNTEER!!
    <hr>
    Today date - 
    <script>
      var curday = function(sp){
      today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //As January is 0.
      var yyyy = today.getFullYear();
      
      if(dd<10) dd='0'+dd;
      if(mm<10) mm='0'+mm;
      return (dd+sp+mm+sp+yyyy);
      };
     
      document.write(curday('/'));
    </script>
</div>
<div class="volunteerbox" style="margin-bottom: 5em;">
    <div class="row3">
        <div class="column3 left3" style="text-align: center;">
          <h4>Futsal Tournament</h4>
          <img src="futsal1.jpg" alt="science poster" width="350" >
        </div>
        <div class="column3 right3" style="text-align: left;font-size:large;padding:2em;">
            <div>
                Date - (12/11/2021) 
                <h2 style="float:right;margin-right:1em;">6 Volunteer needed</h2>
                <br> Time - 1.30 pm - 5.00 pm <br> Venue - Futsal Arena
            </div>
          <div> 
            <br>
            Task
            <br>
            1. Food and Beverage management
            <br>
            2. Facility Management
            <br>
            3. Game Management
            <br>
            4. Men power needed
          </div>
          <div> <form>
                <button class="bluebutton" onclick="location.href='';"
                style="font-size:medium;float:right;margin-right:2em;width:15em;border-radius: 15px;" >
                  VOLUNTEER</button>
                </form>
          </div>
        </div>
      </div>
</div>
<div class="volunteerbox" style="margin-bottom: 5em;">
    <div class="row3">
        <div class="column3 left3" style="text-align: center;">
          <h4>Mathematics Club Day</h4>
          <img src="MATH_DAY.jpg" alt="science poster" width="350" >
        </div>
        <div class="column3 right3" style="text-align: left;font-size:large;padding:2em;">
            <div>
                Date - (17/10/2021) 
                <h2 style="float:right;margin-right:1em;">3 Volunteer needed</h2>
                <br> Time - 1.00 pm- 3.30 pm <br> Venue - Mathematic Club Room
            </div>
          <div> 
            <br>
            Task
            <br>
            1. Facility Management
            <br>
            2. Food and beverages
            <br>
            3. Game Management
          </div>
          <div> 
            
            <button class="bluebutton" onclick="location.href='';"
                style="font-size:medium;float:right;margin-right:2em;width:15em;border-radius: 15px;" >
                  VOLUNTEER</button>
          </div>
        </div>
      </div>
</div>

<div style="margin:10em;">
<br>
</div>

<footer class="brownFooter">
    © Copyright 2020 MySchool system | Designed by MMU
</footer>