<div class="header">
    <div class="topnav">
        <div class="navlogo">
            <img  src="/public/MySchool.png" 
            alt="logo"  height="65" 
            style="float:left;padding-right:2em;padding-top:6px;">
        </div>
    
        <a href="/home">HOME</a>
        <a href="/participation">PARTICIPATION</a>
        <a class="active">MyEVENT</a>
        <a href="/volunteer">VOLUNTEER</a>
        <a href="/profile">PROFILE</a>
        <a href="#">LOG-OUT</a>
      </div>
</div>
<div class ="homevent">
    English Language Day
    
    
    <hr>
    <button class="whitebutton"onclick="location.href='/myevent';" style="float:right;width:8em;margin-right:1em;">Back</button>

    <button class="bluebutton" onclick="location.href='/volunteer/addtask';" style="width:11em;margin-left:1em;" >Add Task</button>
</div>
<div class="row2">
    <div class="column2">
        <div>
            <img src="/public/eng1.jpg" alt="eng poster" width="350" >
            
        </div>
    </div>
    <div class="column2"style="border-left: 4px solid #707070;">
        <div class="pDetails">
            <table style=" width:100%;">
                <tr >
                  <td style="padding:0.5em;">Date</td>
                  <td>: 12 November 2021</td>
                  <td></td>
                </tr>
                <tr>
                  <td style="padding:0.5em;">Time</td>
                  <td>: 8.00 am - 1.00 pm</td>
                  <td></td>
                </tr>
                <tr>
                  <td style="padding:0.5em;">Venue</td>
                  <td>: Public</td>
                  <td></td>
                </tr>
                <tr>
                  <td style="padding:0.5em;">Volunteer</td>
                  <td>: 3</td>
                  <td></td>
                </tr>
                <tr>
                    <td style="padding:0.5em;">Tasks</td>
                    <td >: 1. Library Management </td>
                    <td><button class="deleteBtn">-</button></td>
                </tr>
                <tr >
                    <td></td>
                    <td style="padding-bottom:0.5em;">: 2. Food and Beverage </td>
                    <td><button class="deleteBtn">-</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-bottom:0.5em;">: 3. Club Management </td>
                    <td><button class="deleteBtn">-</button></td>
                </tr>
            </table>
            <p style="padding:0.5em;"> Description : 
                Hey Guys, English Society Club are here to encourage students on speaking English Language fully on 12th November.

                </p>
        </div>
    </div>
</div>
<div class ="homevent">
    Previous Activities : 
    <hr>
</div>
<footer class="brownFooter">
    © Copyright 2020 MySchool system | Designed by MMU
</footer>

