<div class="any">
    <div class="bg">
    </div>
    <div class ="myform2">
        <div style="text-align: center;">
        <img src="MySchool.png" alt="logo"  height="70">
        <h2>Welcome to MySchool</h2>
        <br>
        </div>
        <div class="clearfix">
            <div class="box2" >
                <h3><a href="/">Log in</a></h3>
            </div>
            <div class="box2" >
                <h3>Sign up</h3>
            </div>
        </div>
        <br>
        <form action="/action_page.php" method="post">
            <label for="id"style="text-align:left;">Full Name</label><br>
            <input type="name" placeholder="Enter Full Name" name="uname" required>
        <br>
            <label for="id"style="text-align:left;">Student ID</label><br>
            <input type="text" placeholder="Enter Student ID" name="psw" required>
        <br>
            <label for="id"style="text-align:left;">Email</label><br>
            <input type="text" placeholder="Enter Full Name" name="uname" required>
        <br>
            <label for="id"style="text-align:left;">Password</label><br>
            <input type="password" placeholder="Enter Student ID" name="psw" required>
            
            <button type="submit" style="color:white;margin-top:30px;margin-bottom:30px;margin-left:170px">Submit</button>
            
        </form>
    </div>
</div>


