<div class="any">
    <div class="bg">
    </div>
    <div class ="myform2">
        <div style="text-align: center;">
        <img src="MySchool.png" alt="logo"  height="70">
        <h2>Welcome to MySchool</h2>
        <br>
        </div>
        <div class="clearfix">
            <div class="box2" >
                <h3><a href="/" style="color: rgb(153, 153, 153);text-decoration: none;">Log in</a></h3>
            </div>
            <div class="box2" >
                <h3>Sign up</h3>
            </div>
        </div>
        
        <hr class="login1"style="margin: 0px; width:50%;">
        <hr class="login"style="margin: 0px; width:50%;">

        <br>
        <form action="/user/signup" method="POST">
            <label for="id"style="text-align:left;">Full Name</label><br>
            <input type="name" placeholder="Enter Full Name" id = "name" name="name" required>
        <br>
            <label for="id"style="text-align:left;">Student ID</label><br>
            <input type="text" placeholder="Enter Student ID" id = "roleID" name="roleID" required>
        <br>
            <label for="id"style="text-align:left;">Email</label><br>
            <input type="email" placeholder="Enter Full Name" id = "email" name="email" required>
        <br>
            <label for="id"style="text-align:left;">Password</label><br>
            <input type="password" placeholder="Enter Password" id = "password" name="password" required>
        <br>
        <div style="text-align: center;">
            <input type="checkbox" id="agreement" name="agree" value="term" required>
            <label for="agree" > I accept the Terms of Use</label>
        </div> 
            <button class="bluebutton"type="submit" style="color:white;margin-top:20px;margin-bottom:30px;margin-left:170px">Submit</button>
            
        </form>
    </div>
</div>


