<div class="header">
    <div class="topnav">
        <div class="navlogo">
            <img  src="MySchool.png" 
            alt="logo"  height="65" 
            style="float:left;padding-right:2em;padding-top:6px;">
        </div>
    
        <a class="active">HOME</a>
        <a href="#">PARTICIPATION</a>
        <a href="#">MyEVENT</a>
        <a href="#">VOLUNTEER</a>
        <a href="/profile">PROFILE</a>
        <a href="#">LOG-OUT</a>
      </div>
</div>