<div class="header">
  <div class="topnav">
    <div class="navlogo">
      <img
        src="MySchool.png"
        alt="logo"
        height="65"
        style="float: left; padding-right: 2em; padding-top: 6px"
      />
    </div>
    <form id="myform" action="/user/logout" method="POST">
      <a
        href="#"
        onclick="document.getElementById('myform').submit()"
        style="float: right"
        >LOG-OUT</a
      >
    </form>

    <noscript>
      <input type="submit" value="Submit form!" />
    </noscript>
    <a href="/profile" style="float: right">PROFILE</a>
    <a href="/volunteer/tovolunteer" style="float: right">VOLUNTEER</a>
    <a href="/myevent" style="float: right">MyEVENT</a>
    <a href="/participation" style="float: right">PARTICIPATION</a>
    <a class="active" style="float: right">HOME</a>
  </div>
</div>
<div class="homevent">
  UPCOMING EVENT - JOIN NOW!!
  <hr />
  Today date -
  <script>
    var curday = function (sp) {
      today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //As January is 0.
      var yyyy = today.getFullYear();

      if (dd < 10) dd = "0" + dd;
      if (mm < 10) mm = "0" + mm;
      return dd + sp + mm + sp + yyyy;
    };

    document.write(curday("/"));
  </script>
</div>

<div class="row1">
  <% for(var i = 0; i < event.length;i++){ %> <% if(event[i].eventApproval ==
    true && event[i].signOffstatus == false) { %>
    <div class="column1">
      <div class="eventShape">
        
        <p style="text-align: center; padding-top: 10px">
          <%= event[i].eventStartDate.getDate() + " / " + (event[i].eventStartDate.getMonth()+1) + " / " + event[i].eventStartDate.getFullYear() %>
          <br>
          <%= event[i].eventName %>
        </p>
        <div style="width: 100%;">
          <img <% if(event[i].posterImageType == null) { %>
      src="/public/eventplacement.jpg" <% } else { %> src="<%= event[i].posterPath %>"
      <% } %> alt="poster" style=" width: 25em; height: 18em; display: block;
      margin-left: auto; margin-right: auto; " />
        </div>
        
        
            
          <button
          class="eventBtn"
          onclick="location.href='/event/<%= event[i].id %> ';"
          >
          DETAILS
        </button>
      
      </div>
    </div>
    <% } %> <% } %>

  </div>
</div>
<div style="height:8em;">
</div>
<footer class="brownFooter">
  © Copyright 2020 MySchool system | Designed by MMU
</footer>
