<div class="header">
    <div class="topnav">
        <div class="navlogo">
            <img  src="/public/MySchool.png" 
            alt="logo"  height="65" 
            style="float:left;padding-right:2em;padding-top:6px;">
        </div>
    
        <a href="/home">HOME</a>
        <a href="/participation">PARTICIPATION</a>
        <a class="active">MyEVENT</a>
        <a href="/volunteer">VOLUNTEER</a>
        <a href="/profile">PROFILE</a>
        <a href="#">LOG-OUT</a>
      </div>
</div>
<div class ="homevent">
    English Language Day
    <hr>
    View Attendance
    <button class="whitebutton"onclick="location.href='/myevent/myeventdetail';" style="float:right;width:8em;">Back</button>

    
</div>

<div class="certList" style="margin-top: 0;">
    <table class="tablecert">
      <tr style="background-color: #F6F2E9;">
        <th style="padding: 15px;padding-left:2em;">NO</th>
        <th style="padding: 15px;">Name</th>
        <th style="padding: 15px;">Student ID</th>
      </tr>
      <tr>
        <td style="padding:15px;padding-left:2em;background-color: #dbd3bf;">1</td>
        <td style="padding: 15px;background-color: #dbd3bf;">Nur Iffah binti Isa</td>
        <td style="padding: 15px;background-color: #dbd3bf;">A01234</td>
      </tr>
      <tr>
        <td style="padding: 15px;padding-left:2em;background-color: #dbd3bf;">2</td>
        <td style="padding: 15px;background-color: #dbd3bf;">Muhammad Iman bin Arsyad</td>
        <td style="padding: 15px;background-color: #dbd3bf;">A01235</td>
      </tr>
      <tr>
        <td style="padding: 15px;padding-left:2em;background-color: #dbd3bf;">3</td>
        <td style="padding: 15px;background-color: #dbd3bf;">Lai Cai Xian, Christine</td>
        <td style="padding: 15px;background-color: #dbd3bf;">A01236</td>
      </tr>
      <tr>
        <td style="padding: 15px;padding-left:2em;background-color: #dbd3bf;">4</td>
        <td style="padding: 15px;background-color: #dbd3bf;">Puspadevi a/p Kamaleshwaran</td>
        <td style="padding: 15px;background-color: #dbd3bf;">A01237</td>
      </tr>
      <tr>
        <td style="padding: 15px;padding-left:2em;background-color: #dbd3bf;">5</td>
        <td style="padding: 15px;background-color: #dbd3bf;">Nurhazwani Mat Salleh</td>
        <td style="padding: 15px;background-color: #dbd3bf;">A01239</td>
      </tr>
      <tr>
        <td style="padding: 15px;padding-left:2em;background-color: #dbd3bf;">6</td>
        <td style="padding: 15px;background-color: #dbd3bf;">Muhammad Amirul Iman bin Effendee</td>
        <td style="padding: 15px;background-color: #dbd3bf;">A01241</td>
      </tr>
    
  
    <tr>
      <td style="padding: 12px;height:6em;"></td>
      <td style="padding: 12px;"></td>
      <td style="padding: 12px;"></td>
    </tr>
    </table>
    
  </div>
  <footer class="brownFooter">
    © Copyright 2020 MySchool system | Designed by MMU
</footer>